.header {
    font-family: 'Roboto Condensed', sans-serif;
}

.logo-link {
    font-size: 92px;   
}

.sub-title {
    color: #e50000;
}

.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 25px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-size: 35px;
  padding-bottom: 29px;
}

@media (max-width: 300px) {
  .sub-title{
    font-size: 92px;
    line-height: 87px;
  }

  .logo-link{
    font-size: 55px;
  }

}

.contact {
  font-size: 30px !important;
}